
<div class='container'>
 <div class='user-info-home'>
  <img src=<%=image_path(@user_info.photo)%>/>
  <div>
   <h2><%=@user_info.name%></h2>
   <p>Number of posts: <%=@user_info.postCounter%> </p>
  </div>
</div>
<div class='bio-info'>
  <h3>Bio</h3>
  <p class='bio-info'><%=@user_info.bio%></p>
  <% for post in @posts %>
  <div class='post-card'>
  <p>Post # <%=post.id %></p>
  <a href='/users/<%=@user_info.id%>/posts/<%=post.id%>'><%=post.text%></a>
  </div>
  <% end %>

</div>
  <a href='/users/<%=@user_info.id%>/posts'>See all posts</a>
</div>