<div class='post-card'>
  <p class='post-title' >Post # <%=post.id %> <%=post.title%></p>
  <p class='post-text'>
  <a href='/users/<%=user_info.id%>/posts/<%=post.id%>'><%=post.text%></a>
  </p>
  <p class='post-counters'>Comments: <%=post.commentsCounter%> Likes: <%=post.likesCounter%></p>
</div>