<div class='container'>
  <h1><%=@user_info.name%></h1>
  <h3>Number of post:<%=@user_info.posts%></h3>
  <% (1..@user_info.posts.to_i).each do |i| %>
    <div class='post-card'>
      <p>Post #<%=i %></p>
      <a href='/users/<%=@user_info.id%>/posts/<%=i %>'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
    </div>
  <% end %>
</div>
