  <div class='post-detail'>
    <div class='header'>
      <p>Posts #<%=@post.id%>&nbsp;</p>
      <p class="bold" ><%=@post.title%>&nbsp;</p>
      <p class="italic" >by <%=@user.name%></p>
      <div class='post-counters'>
        <p>Comments: <%=@post.commentsCounter%> 
          Likes: <%=@post.likesCounter%></p>
      </div>
    </div>
    <p class='post-text'><%=@post.text%></p>
    <%= link_to "Like", 
        user_post_likes_path(user_id:@user.id, post_id:@post.id), 
        class: "like-button" %>
    <% if can? :manage, @post%>
      <%= link_to "Delete",
      user_post_path(user_id:@user.id, id:@post.id),
      class: 'delete-button',
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <%end%>
  </div>
  <div class="comments">
    <% @post.comments.each do |comment|%>
      <div class="comment">
        <p class='bold italic'>
          <%=comment.author.name%>:
        </p>
        <p class='comment-text'>
          <%=comment.text%>
        </p>
        <% if can? :manage, comment%>
          <%=button_to "Delete", 
            user_post_comment_path(user_id:@user.id, post_id:@post.id, comment_id: comment.id),
            method: :delete,
            class:'delete-button',
            data: { turbo: false }
          %>
        <%end%>
      </div>
    <% end %>
  </div>
  <%= render partial: "shared/add_comment", locals: {user:@user, post:@post }%>