<div class='container'>

  <div class='post-detail'>
    <div class='header'>
      <p>Posts #<%=@post_info.id%>&nbsp;</p>
      <p>by <%=@user_info.name%></p>
      <div class='post-counters'>
        <p>Comments: <%=@post_info.comments.count%> Likes: <%=@post_info.likesCounter%></p>
      </div>
    </div>
    <p class='post-text'><%=@post_info.text%></p>
  </div>
  <% for comment in @post_info.comments%>
    <p class='comment'><%=comment.author.name%>: <%=comment.text%></p>
  <% end %>
</div>