<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>The Blog application</h1>
      <a href='\'>Home</a>
    </header>
    <% if flash.any?%>
        <% flash.each do |name, msg| -%>
            <%if name=='alert'%>
              <div class='alert'>
              <%= content_tag :div, msg, class: name %>
            <%else%>
              <div class='notice'>
              <%= content_tag :div, msg, class: name %>
            <% end -%>
            </div>
        <% end -%>
    <%end%>
    <%= yield %>
  </body>
</html>
